@import "../../assets/styles/variables";

.advantage {
  display: flex;
  flex-direction: column;
  gap: 2px;

  .advantage-title {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    line-height: 48px;
  }

  .advantage-text {
    font-size: 18px;
    font-weight: 400;
    color: $gray-color-text;
    line-height: 24px;
  }
}

@media (max-width: 768px) {
  .advantage {
    
    .advantage-title {
      font-size: 28px;
      line-height: 28px;
    }

    .advantage-text {
      font-size: 14px;
      line-height: 20px;
    }
  }
}