.review {
  padding: 16px 20px;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: rgba(48, 45, 45, 0.34);
  backdrop-filter: blur(30px);
  width: 288px;

  .review-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 16px;

    .review-data {
      display: flex;
      flex-direction: column;

      .review-data__name {
        font-size: 24px;
        font-weight: 600;
        line-height: 24px;
      }

      .review-data__nickName {
        font-weight: 500;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.3);
      }
    }
  }

  .review-text {
    font-size: 18px;
    line-height: 115%;
  }
}