@import "../../assets/styles/variables";

.wrapper {
  margin-bottom: 76px;
  max-width: 532px;
  text-align: center;
  
  .wrapper-link {
    display: inline-block;
    padding: 14px;
    width: 100%;
    border-radius: 16px;
    font-size: 28px;
    line-height: 28px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
    background: -webkit-linear-gradient(45deg, rgb(124, 111, 207), rgb(111, 207, 151));
    background: -moz-linear-gradient(45deg, rgb(124, 111, 207), rgb(111, 207, 151));
    background: linear-gradient(45deg, rgb(124, 111, 207), rgb(111, 207, 151));
    box-shadow: 0px 0px 100px 80px $boxShadow-link-color-desktop;
  }
}

@media (max-width: 768px) {
  .wrapper {
    max-width: 332px;
    margin: 0 auto 18px;
    
    .wrapper-link {
      padding: 12px;
      font-size: 20px;
      line-height: 24px;
      box-shadow: 0px 0px 90px 30px $boxShadow-link-color-mob;
    }
  }
}
