.advantages {
  display: flex;
  align-items: center;
  gap: 126px;
  margin-bottom: 100px;
}


@media (max-width: 768px) {
  .advantages {
    justify-content: center;
    gap: 49px;
    margin-bottom: 28px;
  }
}