@import "../../assets/styles/variables";

.links-wrapper {
  display: flex;

  .links-inner {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    min-width: 132px;
    background-color: $black-bgColor;
    border-radius: 12px;
    color: $gray-color-text;

    .links-description {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 2px;

      .links-text {
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
      }

      .links-market {
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
      }
    }
  }
}

@media (max-width: 476px) {
  .links-wrapper {

    .links-inner {
      padding: 4px 8px;
      min-width: 100px;

      img {
        width: 20px;
        height: 20px;
      }
      .links-description {

        .links-text {
          font-size: 10px;
          line-height: 10px;
        }

        .links-market {
          font-size: 14px;
          line-height: 14px;
          font-weight: 400;
        }
      }
    }
  }
}