@import "../review/_review.scss";

.reviews-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 172px;
  right: 80px;
  width: 370px;
  gap: 24px;
  z-index: -1;

  .review:nth-child(odd) {
    margin-left: auto; 
  }
}

@media (max-width: 768px) {
  .reviews-wrapper {
    display: none;
  }
}
  