@import "../src/assets/styles/reset";
@import "../src/assets/styles/global";
@import "../src/assets/styles/variables";

:root {
  background-color: black;
  color: white;
  font-family: "Teko", sans-serif;
  font-style: normal;
}