@import "../src/assets/styles/reset";
@import "../src/assets/styles/global";
@import "../src/assets/styles/variables";

:root {
  background-color: $bg-color;
  color: $white-color-text;
  font-family: "Teko", sans-serif;
  font-style: normal;
  overflow-wrap: break-word;
}