$bg-color: #1C1A1A;
$gray-color-text: rgba(255, 255, 255, 0.3);
$black-color-text: #000;
$white-color-text: #FFF;
$black-bgColor: rgba(48, 45, 45, 0.4);
$dark-bgColor-review: rgba(48, 45, 45, 0.34);
$boxShadow-link-color-desktop: rgba(165, 191, 180, 0.2);
$boxShadow-link-color-mob: rgba(165, 191, 180, 0.15);